/* laptop */
@media only screen and (max-width: 980px) {
  nav {
    padding: 0% 3%;
  }
  .menu_bar {
    display: none;
  }
  .bar {
    display: block;
  }
  header {
    background: linear-gradient(
      to right,
      rgb(255 255 255 / 95%),
      rgb(255 255 255 / 95%)
    );
    height: auto;
  }
  #home {
    flex-direction: column;
    padding: 0;
  }
  #home #left {
    width: 100%;
  }

  #home #left #hellow {
    font-size: 75px;
    margin-top: 81px;
  }
  #home #left #name_title {
    font-size: 90px;
  }
  #home #left h2 {
    font-size: 50px;
  }
  #home #left p {
    font-size: 27px;
  }
  #home #left li {
    width: 15%;
  }
  #home #left i {
    font-size: 55px;
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  #home #left #btn-group {
    width: 60%;
  }
  #home #left button {
    width: 195px;
    height: 68px;
    font-size: 26px;
  }
  #home #right {
    width: 100%;
    margin-top: 5rem;
  }
  #home #right #box img {
    width: 100%;
  }
  #about .container {
    flex-direction: column;
  }
  .midel-border {
    display: none;
  }
  #about #right-box img {
    height: 41rem;
  }
  #about > h1 {
    font-size: 55px;
  }
  #about #left-box h1 {
    font-size: 55px;
  }
  #about #left-box p {
    font-size: 26px;
  }
  #services #item-box {
    padding: 0px;
  }
  #portfolio #top-content h3 {
    padding: 14px 5px;
  }
  #portfolio #top-content label {
    padding: 0px 0px 0px 30px;
  }
  #portfolio .gallery-box {
    grid-template-columns: auto auto;
  }
}
/* laptop */

/* tablet */
@media only screen and (max-width: 980px) {
  nav {
    padding: 0% 3%;
  }
  .menu_bar {
    display: none;
  }
  .bar {
    display: block;
  }
  header {
    background: linear-gradient(
      to right,
      rgb(255 255 255 / 95%),
      rgb(255 255 255 / 95%)
    );
    height: auto;
  }
  #home {
    flex-direction: column;
    padding: 0;
  }
  #home #left {
    width: 100%;
  }

  #home #left #hellow {
    font-size: 75px;
    margin-top: 81px;
  }
  #home #left #name_title {
    font-size: 90px;
  }
  #home #left h2 {
    font-size: 50px;
  }
  #home #left p {
    font-size: 27px;
  }
  #home #left li {
    width: 15%;
  }
  #home #left i {
    font-size: 55px;
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  #home #left #btn-group {
    width: 60%;
  }
  #home #left button {
    width: 195px;
    height: 68px;
    font-size: 26px;
  }
  #home #right {
    width: 100%;
    margin-top: 5rem;
  }
  #home #right #box img {
    width: 100%;
  }
  #about .container {
    flex-direction: column;
  }
  .midel-border {
    display: none;
  }
  #about #right-box img {
    height: 41rem;
  }
  #about > h1 {
    font-size: 55px;
  }
  #about #left-box h1 {
    font-size: 55px;
  }
  #about #left-box p {
    font-size: 26px;
  }
  #services #item-box {
    padding: 0px;
  }
  #portfolio #top-content h3 {
    padding: 14px 5px;
  }
  #portfolio #top-content label {
    padding: 0px 0px 0px 30px;
  }
  #portfolio .gallery-box {
    grid-template-columns: auto auto;
  }
}
/* tablet */
